<h1>Movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Overview</th>
    <th>Poster URL</th>
    <th>Rating</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.overview %></td>
      <td><%= movie.poster_url %></td>
      <td><%= movie.rating %></td>
      <td><%= link_to 'Delete', movie_path(movie), method: :delete %></td>
    </tr>
  <% end %>
</table>
